@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables";
@import "./styles/elements.css";
@import "./styles/theme.css";

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.pt-fixed-top + .container {
	margin-top: $pt-navbar-height;
}
