@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-roboto: 'Roboto', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-fira-mono: 'Fira Mono', monospace;
$font-fira-sans: 'Fira Sans', sans-serif;