
.appRoot {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.login {
    width: 20em;
    padding: 1em;
}

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-input {
    margin: 0.50em 0;
}

.pt-input {
    display: block;
}